* {
  font: inherit;
}

html,
body {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

.svg {
  height: 300px;
  width: 300px;
}

.nightmode {
  position: absolute;
  top: 1vh;
  right: 1.2vw;
  padding-right: 0.35rem !important;
}

.nightmode-background {
  background-color: #141d26;
}

.nightmode-background-light {
  background-color: #243447;
}

.nightmode-text {
  color: #f3f3f3;
}

.h-40 {
	height: 40% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}
.slides {
  display: none !important;
}

.text-strike,
.text-strike:hover {
  text-decoration: line-through;
}

.pos-absolute {
	position: absolute;
	left: 33%;
	bottom: 33%;
}
.select-none {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

.pointer {
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.flipH {
  -webkit-transform: scale(-1.3, 1.3);
  transform: scale(-1.3, 1.3);
}

.fade-out {
  animation: slide-up-fade-out 1s;
  -webkit-animation: slide-up-fade-out 1s;
  -moz-animation: slide-up-fade-out 1s;
}

.fade-in {
  animation: slide-up-fade-in 1s;
  -webkit-animation: slide-up-fade-in 1s;
  -moz-animation: slide-up-fade-in 1s;
}

.fade-in-left {
  animation: slide-left 1s;
  -webkit-animation: slide-left 1s;
  -moz-animation: slide-left 1s;
}

@-webkit-keyframes slide-up-fade-out {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0px, -80px);
            transform: translate(0px, -80px);
  }
}

@keyframes slide-up-fade-out {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0px, -80px);
            transform: translate(0px, -80px);
  }
}
@-webkit-keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 120px);
            transform: translate(0px, 120px);
  }
  80% {
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 120px);
            transform: translate(0px, 120px);
  }
  80% {
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(20px, 0px);
            transform: translate(20px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(20px, 0px);
            transform: translate(20px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.weather-img {
  height: 3em;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-lite {
  background-color: rgba(0, 0, 0, 0.2);
}
.bg-drk {
  background-color: rgba(0, 0, 0, 0.5);
}
.bg-w-lite {
  background-color: rgba(255, 255, 255, 0.7);
}
.bg-w-drk {
  background-color: rgba(255, 255, 255, 0.2);
}