.dial {
  height: 300px;
  width: 300px;
}

.timer {
  position: relative;
  display: inline-block;
}

* {
  font: inherit;
}

html,
body {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

.timer p {
  font-size: 36px;
}

.timer button {
  border: none;
  font-size: 36px;
  cursor: pointer;
}

.timer button:focus {
  outline: none;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.duration input {
  display: block;
  border: none;
  width: 240px;
  font-size: 90px;
  text-align: center;
}

.duration input:focus {
  outline: none;
}

.sticky {
  left: 3px;
  top: 0;
}
