* {
  font: inherit;
}

html,
body {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  height: 100%;
}

.svg {
  height: 300px;
  width: 300px;
}

.nightmode {
  position: absolute;
  top: 50px;
  right: 50px;
}

.nightmode-background {
  background-color: #141d26;
}

.nightmode-background-light {
  background-color: #243447;
}

.nightmode-text {
  color: #f3f3f3;
}
